// Desktop Composer Tag override
#topic-title .edit-topic-title .mini-tag-chooser {
    margin-left: unset;
}

// Desktop Title Category override
#topic-title .edit-topic-title .category-chooser {
    margin-right: 2%;
}

// Desktop Composer Category override
#reply-control .category-input .category-chooser {
    margin-right: 2%;
}